configuration {
    modi: "drun,window,run,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: "   All ";
    display-drun: "   Application";
    display-window: "   Window";
    sidebar-mode: true;
}

@theme "molokai"

